*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 70%;
    height: auto;
    margin: 0px auto;
    background-color: rgb(138, 199, 138);
   
}

h1{
    border: solid blue;
    margin: 20px 0px 20px;
    padding: 5px;
    text-align: center;
    font-size: 4.5vw;
}
p{
    border: solid blue;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    font-size: 4.5vw;
    background-color: khaki;
    border-radius: 50px;
    border-color: khaki;
}
.button>h1{
    padding: 0px;
    margin: 0px;
    border-radius: 50px;
    background-color: khaki;
    border-color: khaki;
}
.button{

width: 50%;

position: relative;
left: 22%;   /* this is also a method of centering any css box */

border-radius: 50px;
border-color: khaki;


}

.button>h1:hover{
    cursor: pointer;
}
p:hover{
    cursor: pointer;
}


.cats{
    border: solid blue;
    margin-top: 25px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    
}
.cats div{
    margin: 10px;
    border: solid blue;
    text-align: center;
   
}
.cats>div>img{
    width: 100%;
}
