*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(39, 36, 36);
   
}
main{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
img{
    max-width: 100%;
    width: 200px;
    border-radius: 500px;
}
main>p{
    margin: 1rem 0;
}
main>#info{
    width: 50%;
    margin: 0 auto;
}
.buttons>button{
color: #ccc;
background-color: #333;
border: none;
padding: 1rem 2rem;
font-size: 2rem;
border-radius: 10px;
margin-top: 1rem;
}



/* these classes are going in to the java script */
  .dispnone{
      display: none;
  }